.nav {
  height: unset;
  padding: 16px 0;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 22px;
  box-sizing: border-box;
  height: 80px;
  align-items: center;
}
.navActive::after {
  content: '';
  height: 4px;
  width: 100%;
  background-color: #ff4455;
  border-radius: 8px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -16px;
  box-shadow: 0px 1px 4px #ff4455;
}
.navActive {
  position: relative;
  color: #ff4455;
}
/* mobile */
@media (max-width: 600px) {
  .btn {
    display: none !important;
  }
  .mobileIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    cursor: pointer;
  }
  .mobileIcon::before {
    content: '';
    display: block;
    height: 1px;
    width: 22px;
    background-color: #000;
    transition: transform 0.15s ease;
    transform: translateY(-4px) rotate(0deg);
  }
  .mobileIcon::after {
    content: '';
    display: block;
    height: 1px;
    width: 22px;
    background-color: #000;
    transition: transform 0.15s ease;
    transform: translateY(4px) rotate(0deg);
  }
  .moblieCloseIcon::before {
    transform: translateY(1px) rotate(45deg);
  }
  .moblieCloseIcon::after {
    transform: translateY(0) rotate(-45deg);
  }
  .navLink {
    display: none !important;
  }
}
/* px */
@media (min-width: 601px) {
  .btn {
    display: block;
  }
  .mobileIcon {
    display: none !important;
  }
  .navLink {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
  }
}
